RewriteEngine On
RewriteBase /mycms/

#no-www
#RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

#others
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php?rewrite=&params=$1 [L]

#RewriteRule ^admin/([^/]+)(/(.*))?  index.php?m=admin&do=$1&params=$3 [NC,L]

Options -indexes

<Files *.tpl>
    Deny from all
    Order allow,deny
</Files>

<IfModule mod_php5.c>
  php_value magic_quotes_gpc "0"
</IfModule>

