body {
	background-image: url(../images/texture.jpg);
	color: rgb(35, 35, 35);
	font: 12px/1.5 arial, sans-serif;
	margin: 15px 0 30px;
	text-align: center;
}

small {
	font-size: smaller;
}

i {
	font-style: italic;
}

a {
	text-decoration: none;
	color: #2E6F9B;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: 0;
}

h2, h4 {
	color: rgb(60, 60, 60);
	margin: 0 0 5px;
	line-height: 1.3;
	font-weight: bold;
}
h2 {
	font-size: 15px;
	margin: 0 0 10px;
	border-bottom: 1px solid rgb(200, 200, 200);
	padding-bottom: 1px;
}
h4 {
	font-size: 13px;
	margin-top: 10px;
}

p {
	margin: 0 0 13px;
}

input, textarea, select {
	font-size: 12px;
	font-family: arial;
	line-height: 1.5em;
}

#container {
	width: 862px;
	text-align: left;
	margin: 0 auto;
	background-color: white;
	border: solid black 1px;
	-moz-box-shadow: grey 0px 3px 10px 2px;
	-webkit-box-shadow: grey 0px 3px 10px 2px;
	box-shadow: grey 0px 3px 10px 2px;
}

#header {
	background: url(../images/header-back-green.gif) repeat-x;
	height: 83px;
}

#logo {
	padding: 11px 0 0 20px;
	width: 300px;
	float: left;
}

#graphic {
	width: 400px;
	height: 82px;
	background-repeat: no-repeat;
	float: right;
	margin: -9px 15px 0 0;
}

#menu {
	background: url(../images/menu-back.gif) repeat-x;
	height: 27px;
	padding: 0 0 0 25px;
}
#menu li {
	text-align: center;
	padding: 0;
	display: inline;
	list-style-type: none;
	line-height: 25px;
}
#menu li a {
	color: rgb(225, 225, 225);
	font-size: 11px;
	font-weight: bold;
	padding: 4px 10px 5px;
}
#menu li a:hover {
	text-decoration: none;
	background: url(../images/menu-back-hover.gif) repeat-x;
	color: rgb(250, 250, 250);
}
#menu li a.selected {
	background: url(../images/menu-back-hover.gif) repeat-x;
	color: rgb(250, 250, 250);
}

#content {
	padding: 27px 35px 20px;
	min-height: 250px;
}
#content, #content td {
	font: 12px/1.4 arial, sans-serif;
}

#footer {
	margin: 0 auto;
	padding: 17px 0;
	width: 862px;
	text-align: left;
	font-size: 11px;
	color: rgb(140, 140, 140);
}
#innerfooter {
	padding: 0 31px;
}

.error {
	font-family: monospace;
	margin: 10px auto;
	width: 862px;
	background-color: rgb(250, 220, 237);
	border: solid 1px black;
	box-shadow: rgb(167, 167, 167) 1px 3px 7px 1px;
}

.error ul li{
	box-shadow: none;
	margin: 10px 30px 10px 30px;
	list-style-type: square;
	width: 85%;
	text-align: left;
	border: none;
	font-weight: bolder;
}

.error .info{
}

.error .warning{
	color: rgb(238, 200, 0);
}

.error .error{
	color: rgb(238, 0, 0);
}

.publication {
	margin-bottom: 12px;
}

.pdf, .mov, .wmv {
	padding: 2px 0 3px 26px;
}
.pdf {
	background: url(../images/pdf.png) no-repeat;
}
.mov {
	background: url(../images/mov.png) no-repeat;
}
.wmv {
	background: url(../images/wmv.png) no-repeat;
}

.bibtexentry {
	width: 100%;
	display: inline-block;
}

.bibtexleft {
	padding-left: 20px;
	vertical-align: top;
	float: left;
	width: 65px;
}
.bibtexmiddle {
	vertical-align: top;
	padding: 0 5px 0 10px;
	float: left;
}
.bibtexright {
	vertical-align: top;
	float: left;
}

.affiliation {
	color: rgb(140, 140, 140);
	font-size: 10px;
}

.strike {
	height: 28px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.strike .line {
	border-bottom: 1px solid rgb(220, 220, 220);
	padding-top: 15px;
}

.strike h4 {
	display: inline;
	background: white;
	float: left;
	padding: 0 5px 0 0;
	margin: -11px 0 0 0;
	color: rgb(70, 70, 70);
}

.thumbnail {
	width: 40px;
	height: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: lightgrey 1px 1px 1px 0px;
	-webkit-box-shadow: lightgrey 1px 1px 1px 0px;
	box-shadow: lightgrey 1px 1px 1px 0px;
}
.border {
	padding: 0;
}
.border img {
	display: block;
}

.projecttable {
	width: 75%;
}
.projecttable td {
	vertical-align: top;
	padding: 2px 10px 11px 0;
}

.persontable td {
	vertical-align: top;
	padding: 2px 9px 11px 0;
	line-height: 15px !important;
}

.imagewrap {
	margin: 4px 13px 10px 0;
	max-width: 214px;
	max-height: 300px;
}

.profileleft {
	width: 27%;
	float: left;
}
.profileright {
	width: 71%;
	float: right;
}

.filter {
	background: url(../images/filter-back.gif) no-repeat;
	width: 793px;
	height: 32px;
}
.filter td {
	padding: 4px 0;
}
.filter .prompt {
	width: 85px;
	padding: 5px 10px 0 0;
}
.filter select {
	width: 140px;
}
.filtersubmit {
	padding: 2px 5px 0 24px !important;
	width: 70px;
}

.left {
	float: left;
}

.prompt {
	vertical-align: top;
	width: 110px;
	padding: 1px;
	text-align: right;
	color: rgb(110, 110, 110);
}

#imagedisplay {
	margin-top: 5px;
	margin-bottom: 15px;
	padding-left: 8px;
	width: 785px;
}
#imagedisplay img {
	margin: 0 6px 6px 0;
}
#imagedisplay .right img {
	margin: 0 0 6px 0;
}

#hci_description {
	font-size: 15px;
	font-weight: bold;
	line-height: 21px;
	color: rgb(65, 65, 65);
}

#peoplephoto {
	width: 794px;
	height: 532px;
	margin-bottom: 20px;
}

.movie {
	width: 17px;
	border: 0px;
	text-align: top;
	margin-left: 1px;
}

.arrows {
	font-size: 11px;
	font-family: cursive;
}

.headeraffiliation {
	font-size: 12px;
	color: rgb(120, 120, 120);
}

.course {
	font-weight: bold;
}

.publication-teaser {
	margin: 0px 0 10px;
	padding: 5px 0 5px;
}

.docimage {
	width: 17px;
	border: 0;
}

.research-teaser-list {
	/*padding: 10px;*/
}

.people-refrence-list {

}

.people-teaser {
	width: 30%;
	height: 50px;
	padding: 5px;
	float: left;
}

.people-tiny .textside {
	padding-left: 3px;
}

.people-tiny {
	overflow: hidden;
	padding: 0px 3px 3px 3px;
}

.tiny img {
	width: 20px;
	height: 20px;
}


.people-tiny-list {
}

.people-default {

}

.people-teaser-list, .people-refrence-list {
	/*padding: 12px 4px;*/
	overflow: hidden;
}

.research-default {
}

.research-teaser-list {

}

.research-teaser {
	padding: 7px 0px 7px 1px;
}

.research-teaser .left {
	width: 45px;
	float: left;
}

.research-teaser .textside {
	width: 100%;
	padding: 3px 5px;
}

.publication-teaser .title, .research-teaser .title, .people-teaser .title {
	font-size: 12px;
	color: rgb(0, 100, 0);
}

.publication-tiny, .research-tiny {
	padding: 5px;
}

.publication-tiny .left, .research-tiny .left {
	width: 27px;
	float: left;
}

.research-tiny .left img {
	width: 20px;
	height: 20px;
}

.research-tiny-list {

}

.download {
	margin: 6px 0 9px;
}

.publication-default {
	margin-bottom: 12;
}

.publication-teaser-list {

}

.publication-teaser {
	margin-bottom: 12;
}

.publication-teaser .textside {
	width: 100%;
	padding: 0;
}

.publeft {
	width: 23px;
	min-height: 30px;
	float: left;
}

.publeft img {
	margin-top: 3px;
}

.cb {
	clear: both;
}

.textside {
	font-size: 12px;
	padding: 4px 5px;
	display: table-cell;
	width: 73%;
}

.tiny {
	overflow: hidden;
	color: black;
	display: block;
}

.tiny .textside {
	padding: 2px 5px;
}

.teaser * {
	color: black;
}

.teaser {
	overflow: hidden;
	color: black;
	display: block;
	cursor: pointer;
	font-size: 12px;
	position: relative;
	/*word-break: break-all;*/
}

.tiny:hover, .tiny *:hover, .teaser *:hover, .teaser:hover {
	text-decoration: none;
}

.tiny.focused, .tiny:hover, .teaser.focused, .teaser:hover {
	background-color: rgb(247, 247, 247);
}

input.refrence, input.find {
	min-width: 250px;
	width: 58%;
}

.doc-list, .video-list, .image-thumb-list {
	float: left;
	padding: 0px 10px;
}

.TTWForm .remove, a.edit-node {
	float: right;
}

#remove-refrence-button {
	opacity: 0.3;
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 99;
	display: none;
}

a.view-all {
	margin: 5px 0px 15px;
	display: inline-block;
}

/*research*/
.research_list li{
	display: none;
}
#loadAllResearch {
    color:green;
    cursor:pointer;
}
#loadAllResearch:hover {
    color:black;
}
#showLessResearch {
    color:red;
    cursor:pointer;
    display:none;
}
#showLessResearch:hover {
    color:black;
}
/*publication*/
.publication_list li{
	display: none;
}

#loadAllPublication {
    color:green;
    cursor:pointer;
}
#loadAllPublication:hover {
    color:black;
}
#showLessPublication {
    color:red;
    cursor:pointer;
    display:none;
}
#showLessPublication:hover {
    color:black;
}

/* make addtional inputs be organized*/
.addtionalImages {
	margin-left: 150px;
}

.addtionalVideos {
	margin-left: 150px;
}

.addtionalDocs {
	margin-left: 150px;
}