
ErrorDocument 404 /error.php


# REDIRECTS

#RewriteCond %{HTTP_HOST} ^wow\.usask\.ca$ [NC]
#RewriteRule ^(.*)$ /wow [L,R=301]

# main pages
Redirect 301 /contact.shtml http://hci.usask.ca/contact/

# research projects
Redirect 301 /research/gt/ http://hci.usask.ca/research/view.php?id=34
Redirect 301 /research/learningTheLand.shtml http://hci.usask.ca/research/view.php?id=33
Redirect 301 /research/gtblackboard.shtml http://hci.usask.ca/research/view.php?id=32
Redirect 301 /research/digitaltables.shtml http://hci.usask.ca/research/view.php?id=31
Redirect 301 /research/embodiment.shtml http://hci.usask.ca/research/view.php?id=30
Redirect 301 /research/multiperson.shtml http://hci.usask.ca/research/view.php?id=29
Redirect 301 /research/groupware_networking.shtml http://hci.usask.ca/research/view.php?id=28
Redirect 301 /research/gwevaluation.shtml http://hci.usask.ca/research/view.php?id=27
Redirect 301 /research/mdes.shtml http://hci.usask.ca/research/view.php?id=26
Redirect 301 /research/pointing.shtml http://hci.usask.ca/research/view.php?id=25
Redirect 301 /research/pressure.shtml http://hci.usask.ca/research/view.php?id=24
Redirect 301 /research/gameHeuristics.shtml http://hci.usask.ca/research/view.php?id=23
Redirect 301 /research/colour.shtml http://hci.usask.ca/research/view.php?id=22
Redirect 301 /research/compression.shtml http://hci.usask.ca/research/view.php?id=21
Redirect 301 /research/annotations.shtml http://hci.usask.ca/research/view.php?id=20
Redirect 301 /research/steelring.shtml http://hci.usask.ca/research/view.php?id=18
Redirect 301 /research/awareness-privacy.shtml http://hci.usask.ca/research/view.php?id=17
Redirect 301 /research/handoff.shtml http://hci.usask.ca/research/view.php?id=16
Redirect 301 /research/moa.shtml http://hci.usask.ca/research/view.php?id=15
Redirect 301 /research/dj-audience-interaction.shtml http://hci.usask.ca/research/view.php?id=14
Redirect 301 /research/loosecoupling.shtml http://hci.usask.ca/research/view.php?id=13
Redirect 301 /research/past/awareness_servers.shtml http://hci.usask.ca/research/view.php?id=12
Redirect 301 /research/past/userprivacy.shtml http://hci.usask.ca/research/view.php?id=11
Redirect 301 /research/past/fisheyes.shtml http://hci.usask.ca/research/view.php?id=10
Redirect 301 /research/past/onlinecomm.shtml http://hci.usask.ca/research/view.php?id=9
Redirect 301 /research/past/collide.shtml http://hci.usask.ca/research/view.php?id=8
Redirect 301 /research/past/groupplan.shtml http://hci.usask.ca/research/view.php?id=7
Redirect 301 /research/past/maui.shtml http://hci.usask.ca/research/view.php?id=6
Redirect 301 /research/past/low_vision_pointers.shtml http://hci.usask.ca/research/view.php?id=5
Redirect 301 /research/past/genesaw.shtml http://hci.usask.ca/research/view.php?id=4
Redirect 301 /research/past/groupspace.shtml http://hci.usask.ca/research/view.php?id=3
Redirect 301 /research/past/protein.shtml http://hci.usask.ca/research/view.php?id=2

# people
Redirect 301 /people/regan.shtml http://hci.usask.ca/people/view.php?id=1
Redirect 301 /people/carl.shtml http://hci.usask.ca/people/view.php?id=2
Redirect 301 /people/sriram.shtml http://hci.usask.ca/people/view.php?id=6
Redirect 301 /people/oliver.shtml http://hci.usask.ca/people/view.php?id=9
Redirect 301 /people/shane.shtml http://hci.usask.ca/people/view.php?id=11
Redirect 301 /people/nelson.shtml http://hci.usask.ca/people/view.php?id=12
Redirect 301 /people/david-flatla.shtml http://hci.usask.ca/people/view.php?id=13
Redirect 301 /people/gouri.shtml http://hci.usask.ca/people/view.php?id=15
Redirect 301 /people/miguel.shtml http://hci.usask.ca/people/view.php?id=16
Redirect 301 /people/mutasem.shtml http://hci.usask.ca/people/view.php?id=17
Redirect 301 /people/scott-bateman.shtml http://hci.usask.ca/people/view.php?id=18
Redirect 301 /people/mike/index.shtml http://hci.usask.ca/people/view.php?id=20
Redirect 301 /people/bsd.shtml http://hci.usask.ca/people/view.php?id=25
Redirect 301 /people/celine.shtml http://hci.usask.ca/people/view.php?id=26
Redirect 301 /grads/mdw655/ http://hci.usask.ca/people/view.php?id=28
Redirect 301 /people/carrie.shtml http://hci.usask.ca/people/view.php?id=29
Redirect 301 /people/tad.shtml http://hci.usask.ca/people/view.php?id=31
Redirect 301 /people/james.shtml http://hci.usask.ca/people/view.php?id=32
Redirect 301 /people/roger.shtml http://hci.usask.ca/people/view.php?id=33
Redirect 301 /people/LiuJun.shtml http://hci.usask.ca/people/view.php?id=34
Redirect 301 /people/bernard.shtml http://hci.usask.ca/people/view.php?id=36
Redirect 301 /people/scott-davis.shtml http://hci.usask.ca/people/view.php?id=40
Redirect 301 /people/julie.shtml http://hci.usask.ca/people/view.php?id=41
Redirect 301 /people/jason.shtml http://hci.usask.ca/people/view.php?id=42
Redirect 301 /people/steve.shtml http://hci.usask.ca/people/view.php?id=43
Redirect 301 /people/amy.shtml http://hci.usask.ca/people/view.php?id=44
Redirect 301 /people/ragu.shtml http://hci.usask.ca/people/view.php?id=45
Redirect 301 /people/jeff/index.shtml http://hci.usask.ca/people/view.php?id=46
Redirect 301 /people/jeff/cv.shtml http://hci.usask.ca/people/view.php?id=46
Redirect 301 /people/jeff/portfolio.shtml http://hci.usask.ca/people/view.php?id=46
Redirect 301 /people/jeff/research.shtml http://hci.usask.ca/people/view.php?id=46
Redirect 301 /people/jeff/publications.shtml http://hci.usask.ca/people/view.php?id=46
Redirect 301 /people/dane.shtml http://hci.usask.ca/people/view.php?id=47
Redirect 301 /people/jared/index.shtml http://hci.usask.ca/people/view.php?id=48
Redirect 301 /people/jared/research.shtml http://hci.usask.ca/people/view.php?id=48
Redirect 301 /people/jared/publications.shtml http://hci.usask.ca/people/view.php?id=48
